In [16]:
import h5py
import pandas as pd
import numpy as np
import os

pd.set_option('display.float_format', '{:.16f}'.format)
pd.set_option('display.max_columns', None)  # Display all columns
pd.set_option('display.expand_frame_repr', False)  # Do not wrap columns
pd.set_option('display.max_colwidth', None)

### 300 a 1700 y km

In [19]:
h5_file_coord =  f'/home/jovyan/workspace/Desktop/bsc_outputs/particules_solitaries/codi_i_dades_mite/data/lag-0.h5'

indices_to_select = [35, 405, 409, 410, 425, 455,610, 935]

# Initialize a list to store the data
selected_data = []

# Open the HDF5 file and read the data
with h5py.File(h5_file_coord, 'r') as file:
    for key in file.keys():
        for idx in indices_to_select:
            #print(idx)
            np_array = file[key][idx]
            selected_data.append({key: np_array})

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(selected_data)

df.head(10)

                                                           data
0                          [1600.0, 300.0, -400.00000000000006]
1              [1400.0, 922.2222222222223, -400.00000000000006]
2                           [1400.0, 922.2222222222223, -600.0]
3               [1466.6666666666667, 922.2222222222223, -150.0]
4  [1533.3333333333335, 922.2222222222223, -400.00000000000006]
5  [1733.3333333333335, 922.2222222222223, -400.00000000000006]
6              [1466.6666666666667, 1233.3333333333333, -150.0]
7                         [1600.0, 1700.0, -400.00000000000006]